services:
  postgres:
    image: postgres:18
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: spahtmx
    volumes:
      - postgres-data:/var/lib/postgresql

volumes:
  postgres-data:
