name: Docker Fast Deploy

on:
  push:
    branches: [ "master" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: tranchida/spahtmx

jobs:
  build-and-deploy: # Fusion des jobs pour éviter de démarrer 2 VMs
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:master
          cache-from: type=gha # Utilise le cache GitHub Actions
          cache-to: type=gha,mode=max

      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_PRIVATE_SSH_KEY }}
          script: |
            docker login ${{ env.REGISTRY }} -u ${{ github.actor }} -p ${{ secrets.GITHUB_TOKEN }}
            docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:master
            docker stop spahtmx || true
            docker rm spahtmx || true
            docker run -d --restart=unless-stopped --name spahtmx -e MONGODB_URL=${{ secrets.MONGODB_URL }} -p 127.0.0.1:8080:8080 ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:master
